<h1>Welcome home Promit <h1>

<label>Lets chat<lebal> 

  <a href="home/v_vchat_public">Welcome to public chat room</a>
  <a href="home/v_vchat_private_broadcast">Welcome to private chat broadcaast</a>